

<div class="jumbotron">
  <h1 class="display-4">FORTNITE</h1>
  <p class="lead">L’énorme succès du jeu vidéo distribué par l’éditeur américain Epic Games s’appuie sur un mode de jeu tendance, le Battle Royale. La dimension gratuite, couplée à des graphismes très simplistes et une dimension fun, font le reste.</p>
  <hr class="my-4">
  <p> Après World of Warcraft, Minecraft, Candy Crush ou encore Pokémon Go, le monde du jeu vidéo s’agite devant les records enregistrés par sa nouvelle pépite : Fortnite. En début de semaine, le succès de ce jeu - déjà évident pour les connaisseurs du secteur - a éclaté aux yeux du grand public.

Comme le rappelle justement les Echos, Fortnite s’est transformée en une machine à cash pour son concepteur, l’éditeur américain Epic Games. Distribué depuis trois semaines sur les smartphones de la marque Apple, la version mobile a généré plus de 15 millions de dollars de revenus. Avec 6,4 millions de dollars engrangés la semaine dernière, Fortnite dépasse même les poids lourds du secteur mobile (Candy Crush Saga, Pokemon Go, Clash of Clans).

Les chiffres sont ahurissants, mais le succès n’a rien de très surprenant pour certains spécialistes du secteur. Le principe de “Fortnite Battle Royale” est limpide. Une centaine de joueurs, parachutés sur une carte, s’entretuent à l’aide d’armes qu’ils doivent eux-mêmes trouver. Petit à petit, l’espace de jeu se réduit, les joueurs doivent se trouver à l’intérieur d’une zone pour rester en vie. Le dernier joueur encore debout l’emporte.</p>
<%= image_tag "fortnite.jpg", alt: "fortnite", width: 300 %>
<p> source : jeuxvideo.com </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="http://jeuxdumoment.herokuapp.com/pages/list" role="button">Retour à la liste</a>
    <a class="btn btn-primary btn-lg" href="http://jeuxdumoment.herokuapp.com/pages/blog2" role="button">Jeu suivant</a>
    <a class="btn btn-primary btn-lg" href="http://localhost:3000/comments/" role="button">Voir les commentaires</a>

  </p>
</div>
