

<div class="jumbotron">
  <h1 class="display-4">FARCRY 5</h1>
  <p class="lead">Si Ubisoft a déjà détourné le concept des Far Cry plus d’une fois (Blood Dragon, Primal), la maison française a décidé ici de remanier la recette en profondeur — et le résultat est grandiose.</p>
  <hr class="my-4">
  <p> Quand Ubisoft a dévoilé à l’E3 les premières images de Far Cry 5, nouveau volet d’une franchise chère aux fans, cela a fait du bruit – beaucoup de bruit. Un bruit d’une puissance inégalée (ou presque) pour le studio français. On y voyait un décor pittoresque bien représentatif du nord des États-Unis, avec des champs, des montagnes, des forêts… et des églises remplies des adeptes d’une secte flippante (Eden’s Gate), tous armés jusqu’aux dents. Le ton était donné.

Si on est loin de la contrée himalayenne du quatrième volet, ou de l’île paradisiaque du troisième, ce n’est pas tant par sa géolocalisation au Montana que par son histoire que le jeu fait débat. Voir des personnages blancs et chrétiens terroriser tout un comté, quelque temps après l’élection de Trump, n’a pas laissé certaines personnes indifférentes – autant du côté des pro-Trump et de l’alt-right, que des détracteurs du président, qui y voyaient une triste allégorie de la situation actuelle.

Sauf que le jeu est clairement bien plus que ça. Même si cela lui a fait jouir d’une certaine publicité, ce serait dommage de réduire ce titre (si innovant pour la franchise) à son contexte de sortie. En effet, quatorze ans après le tout premier Far Cry, voici un opus qui pourrait marquer les esprits de toute une nouvelle génération de joueurs.</p>
  <%= image_tag "farcry5.jpg", alt: "farcry5", width: 500 %>
  <p class="lead">
    <p>source : Konbini</p>
    <a class="btn btn-primary btn-lg" href="http://jeuxdumoment.herokuapp.com/pages/blog" role="button">Jeu suivant</a>
  </p>
</div>
