

<div class="jumbotron">
  <h1 class="display-4">VAMPYR</h1>
  <p class="lead">Dans sa dernière aventure, Mario met les voiles vers de nombreux royaumes, court à toute vitesse et transporte moult pièces et lunes. Ce périple haletant demande donc de changer régulièrement de tenue, et une nouvelle est désormais disponible. </p>
  <hr class="my-4">
  <p>Retenu à un colloque sur la reconversion des anciens plombiers anonymes, Mario n'a pas senti le coup venir. Aussitôt la salopette tournée que Bowser avait surgi, haut de forme et gilet blanc comme au plus beau temps de Super Paper Mario, pour officialiser son mariage avec la princesse Peach, qui n'avait manifestement pas son mot à dire, preuve que les traditions restent toujours solidement ancrées au Japon. Et puisqu'il fallait bien une coiffe à la hauteur de l'événement, l'infâme lézard (ou bien est-ce un dragon ?) a également kidnappé Tiara, la soeur du dénommé Cappy, membre éminent du pays des Chapeaux où flottent ses congénères. Bref, ça va casquer, même s'il faudra dans un premier temps trouver le moyen de revitaliser l'Odyssey, un dirigeable spatial qui permet de sauter de planète en planète jusqu'à remonter la trace du bateau amiral. Heureusement, et ce sera là la fin de ce paragraphe à vous rendre neuneu, Mario pourra compter cette fois sur le pouvoir de son acolyte à la fois casquette et fantôme : la Chapimorphose. </p>
  <%= image_tag "vampyr.jpg", alt: "vampyr", width: 300 %>
  <p class="lead">
    <p>source : jeuxvideo.com</p>
     <a class="btn btn-primary btn-lg" href="http://jeuxdumoment.herokuapp.com/pages/list" role="button">Retour à la liste</a>
    <a class="btn btn-primary btn-lg" href="http://jeuxdumoment.herokuapp.com/pages/blog" role="button">Jeu suivant</a>

  </p>
</div>
