

<div class="jumbotron">
  <h1 class="display-4">NIER : AUTOMATA</h1>
  <p class="lead">De Drakengard à NieR, les créations de Yoko Taro revendiquent leurs choix de design audacieux et leur narration alambiquée, deux subterfuges qui bousculent les conventions et font oublier, dans le meilleur des cas, les errances techniques et les séquences borderline. NieR Automata s'inscrit lui aussi dans cette lignée de jeux éparpillés façon puzzle, imposant au minimum trois à quatre parcours pour enfin démêler les noeuds du scénario imaginé par l'homme au masque d'Emil. Au risque de s'embourber dans un trop plein d'ambition ?</p>
  <hr class="my-4">
  <p>Dans le monde de NieR Automata, la Terre a été purgée de toute présence humaine ou presque, impuissante face à l'avènement des machines. Contraint à un exil lunaire, ce qui reste de l'humanité ne doit son salut qu'au projet YoRHa, un regroupement d'androïdes envoyés en batterie repousser l'envahisseur, dans l'espoir de s'établir à nouveau sur la Planète Bleue. Parmi eux figurent 2B, une unité d'élite spécialisée dans le combat rapproché, épaulée de 9S, une unité de reconnaissance réputée pour ses dons de piratage. Tout en offrant leur aide aux parcelles de résistance encore en place tout autour de la cité en ruines, le duo découvrira au gré des événements les motivations qui animent les machines, loin d'être toutes hostiles, tout en remontant la trace de A2, une unité dissidente qui ne montre absolument aucun signe de relâchement face à l'envahisseur...</p>
  <%= image_tag "nier.jpg", alt: "nier", width: 300 %>
  <p class="lead">
    <p>source : gamekult.com</p>
     <a class="btn btn-primary btn-lg" href="http://jeuxdumoment.herokuapp.com/pages/list" role="button">Retour à la liste</a>
    <a class="btn btn-primary btn-lg" href="http://jeuxdumoment.herokuapp.com/pages/blog6" role="button">Jeu suivant</a>

  </p>
</div>
