

<div class="jumbotron">
  <h1 class="display-4">VAMPYR</h1>
  <p class="lead">Trois ans seulement nous séparent de l'annonce de Vampyr, et pourtant, c'est comme s'il était dans nos vies depuis la nuit des temps. On l'a connu futur chef-d'oeuvre, puis projet composite à la direction inquiétante. Il a montré publiquement son gameplay, puis est subitement retourné se terrer dans sa crypte durant de longs mois. La seule fois où Focus Home Interactive et Dontnod nous ont laissé goûter à sa fraîcheur nocturne, on est rentrés la gorge sèche et le coeur lourd de mille questions. Un jour peut-être connaîtrons-nous toute l'histoire du développement de Vampyr, et de comment une idée si juteuse s'est retrouvée mêlée à tant de goûts déjà vus.</p>
  <hr class="my-4">
  <p>Pour les trois du fond qui seraient passés entre les gouttes scénaristiques depuis 2015, Vampyr plante ses crocs dans le Londres de 1918, durant la grande épidémie de grippe espagnole qui a ravagé la capitale. Vous êtes Jonathan Reid, l'un des plus grands chirurgiens de votre époque, de retour en Angleterre après des années à servir dans les tranchées françaises. Accessoirement, et après une intro où le bon Jonathan retrouve ses esprits dans une fosse commune, vous voilà jeune vampire, éveillé au monde des ténèbres par un mystérieux géniteur qui n'a laissé ni nom ni adresse. La première heure du jeu termine de planter le décor, ainsi que la dichotomie qui sert de clé de voûte à l'histoire : Reid est à la fois un soigneur et un tueur, déchiré entre son credo et cette nouvelle soif de sang frais qui le tenaille. En homme de science, il choisit d'étudier sa condition comme on dépisterait une infection du sang, à la pipette et au microscope. Et ses pas le mèneront rapidement aux portes du Pembroke, un hôpital tenu nuit et jour par l'équipe du docteur Swansea, un médecin vampirophile qui lui offre le gîte et quelque part aussi un peu le couvert. Caché au milieu des agneaux, le loup va pouvoir commencer son enquête dans ce petit bout de Londres déployé façon monde ouvert.</p>
<%= image_tag "vampyr.jpeg", alt: "vampyr", width: 300 %>
<p> source : jeuxvideo.com </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="http://jeuxdumoment.herokuapp.com/pages/list" role="button">Retour à la liste</a>
    <a class="btn btn-primary btn-lg" href="http://jeuxdumoment.herokuapp.com/pages/blog7" role="button">Jeu suivant</a>
  </p>
</div>
