
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://ngn-mag.com/image/wallpaper/fond-ecran-skyrim-29.jpg');">
  <div class="banner-content">
      <h1>Jeux du moment</h1>
       <p>Tout sur les jeux vidéo du moment !</p>
       <a href="https://jeuxdumoment.herokuapp/pages/list">Les derniers ajouts</a>
    <a class="btn btn-primary btn-lg">Entrer dans le site</a>
  </div>
</div>
