
<head>

    <!-- Des choses -->

    <meta name="viewport" content="width=device-width"/>

    <!-- Encore des choses -->

</head>
<body id="bodylist">
<p><div id="ajout">Les derniers ajouts</div></p>

<br><div class="list-group">
  <a href="http://jeuxdumoment.herokuapp.com/pages/blog" class="list-group-item list-group-item-action active">
    FORTNITE
  </a>
  <a href="http://jeuxdumoment.herokuapp.com/pages/blog2" class="list-group-item list-group-item-action">FARCRY 5</a>
  <a href="http://jeuxdumoment.herokuapp.com/pages/blog3" class="list-group-item list-group-item-action active">GOD OF WAR</a>
  <a href="http://jeuxdumoment.herokuapp.com/pages/blog4" class="list-group-item list-group-item-action ">SUPER MARIO ODYSSEY</a>
  <a href="http://jeuxdumoment.herokuapp.com/pages/blog5" class="list-group-item list-group-item-action active">NIER : AUTOMATA</a>
  <a href="http://jeuxdumoment.herokuapp.com/pages/blog6" class="list-group-item list-group-item-action ">VAMPYR</a>
</div></br></body>
