<% recipes = [
{ name: "FORTNITE",
content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quas ab!" },
{ name: "FARCRY 5",
content: "Lorem ipsum dolor sit amet, consectetur elit. Incidunt vitae voluptates." },
] %>

<h1>Les derniers ajouts</h2>
<ul>
<% recipes.each do |recipe| %>
<li>
<h3><%= recipe[:name] %></h3>
<p><%= recipe[:content] %></p>
</li>
<% end %>
</ul>
