<body>
<p><div id="ajout">Les derniers ajouts</div></p>

<br><div class="list-group">
  <a href="http://jeuxdumoment.herokuapp.com/pages/blog" class="list-group-item list-group-item-action active">
    FORTNITE
  </a>
  <a href="http://jeuxdumoment.herokuapp.com/pages/blog2" class="list-group-item list-group-item-action">FARCRY 5</a>
  <a href="#" class="list-group-item list-group-item-action active">GOD OF WAR</a>
  <a href="#" class="list-group-item list-group-item-action ">SUPER MARIO ODYSSEY</a>
  <a href="#" class="list-group-item list-group-item-action active">NIER : AUTOMATA</a>
</div></body></br>
</body>
